/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

/* Remove gzipping on JSON output for testing/asserts on file contents */
iridanext.output.path = "${params.outdir}/iridanext.output.json"
