/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

/* Remove gzipping on JSON output for testing/asserts on file contents */
iridanext.output.path = "${params.outdir}/iridanext.output.json"

params.modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
params.pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/test'
