iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            idkey = "irida_id"
            global = [
                "**/failure/failures_report.csv"
            ]
            samples = [
                "**/fastp/*.fastp.html",
                "**/adjust/*_bracken_abundances.csv",
                "**/krona/*.krona.html",]
        }
        metadata {
            samples {
            csv {
                path = "**/csvtk/merged_topN.csv"
                idcol = "sample_id"
                }
            }
        }
    }
}
