iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            samples = [
                "**/fastp/*.html",
                "**/fastp/*_trimmed.fastq.gz",
                "**/bracken/*.bracken.txt",
                "**/adjust/*_bracken_abundances.csv",
                "**/krona/*.html",]
        }
        metadata {
            samples {
            csv {
                path = "**/merge/merged_top5.csv"
                idcol = "sample_id"
                }
            }
        }
    }
}
